@font-face {
  font-family: 'Kiona Regular';
  src: url("../fonts/Kiona-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Kiona-Regular.woff") format("woff"), url("../fonts/Kiona-Regular.ttf") format("truetype"), url("../fonts/Kiona-Regular.svg#Kiona-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro Bold';
  src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Bold.otf") format("opentype"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyriadPro Regular", sans-serif;
}

.backgroundColor_blue {
  background-color: #1A78BD;
}

.backgroundColor_blue2 {
  background-color: #2B388F;
}

.backgroundColor_blueSky {
  background-color: rgba(38, 169, 224, 0.4);
}

.blueColor {
  color: #2B388F;
}

.blueColor2 {
  color: #1A78BD;
}

.skyColor {
  color: #26A9E0;
}

.skyColor2 {
  color: #26A9E0;
}

.fontTitle {
  font-family: "Kiona Regular", sans-serif;
}

.fontBody {
  font-family: "MyriadPro Regular", sans-serif;
}

.fontBodyBold {
  font-family: "MyriadPro Bold", sans-serif;
}

.textUppercase {
  text-transform: uppercase;
}

img {
  display: block;
}

@media all and (min-width: 1px) {
  header {
    position: absolute;
    width: 100%;
    padding-top: 70px;
    z-index: 10;
  }
  header > div {
    right: 0;
  }
  header > div a {
    width: 100%;
    min-width: 200px;
  }
  header > div a img {
    width: 100%;
  }
  .principalSlider {
    height: 150vh;
    position: relative;
  }
  .principalSlider::before {
    background: url("../images/slider1.jpg") no-repeat;
    background-position: 45% center;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .captionSlider {
    text-align: left;
    margin-top: 30vh;
  }
  .information {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
  }
  .textBox,
  .buttonBox {
    font-family: "MyriadPro Regular", sans-serif;
    margin: 5px 0;
    border: 0;
    min-height: 55px;
    font-size: 1.5rem;
    color: #2B388F;
  }
  .textBox {
    padding: 0 12px;
  }
  .textBox::-webkit-input-placeholder {
    color: #2B388F;
  }
  .textBox:-ms-input-placeholder {
    color: #2B388F;
  }
  .textBox::-ms-input-placeholder {
    color: #2B388F;
  }
  .textBox::placeholder {
    color: #2B388F;
  }
  .buttonBox {
    background-color: #2B388F;
    border: 0px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 12px;
    text-align: center;
  }
  .treatmentsList li {
    position: relative;
    padding: 5px 20px;
  }
  .treatmentsList li::before {
    content: '>';
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    margin: auto 0;
  }
  .rss {
    border: 1px solid #FFFFFF;
    padding: 0;
    text-align: center;
    width: 2vw;
    height: 2vw;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
  }
  .rss:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  #message {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all ease-in .4s;
    transition: all ease-in .4s;
    background-color: #47d382;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
  }
  .fadeIn {
    opacity: 1 !important;
    z-index: 20 !important;
    -webkit-transition: all ease-in .4s;
    transition: all ease-in .4s;
  }
  .dscto {
    background-color: #26A9E0;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 0 5px;
  }
  .dscto p {
    font-size: 1.4rem;
    font-family: "Kiona Regular", sans-serif;
    padding: 0;
  }
  .dscto p:first-child, .dscto p:nth-child(2) {
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    font-size: 4rem;
  }
  .dscto p:nth-child(2) {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: -15px;
    margin-left: 2px;
  }
  .dscto p:last-child {
    margin-left: 10px;
  }
  .subtitlePromo {
    margin: -1.5vw 0 0;
    padding: 0;
  }
  .wrappPromo {
    position: relative;
    z-index: 2;
    margin-top: -30vh;
  }
  .promociones {
    margin: 20px 0;
  }
  .promociones li {
    width: 100%;
    padding: 10px 0 20px;
    position: relative;
    margin: 5px 0;
    border-bottom: 1px solid #FFFFFF;
  }
  .promociones li:last-child {
    border-bottom: 0;
  }
  .promociones li h3 {
    font-size: 5rem;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
  }
  .promociones li h3 span {
    font-size: 2rem;
  }
  .adicionalInfo li {
    margin: 10px 0;
  }
  .adicionalInfo li h3 {
    margin: 0 0 10px;
    font-weight: 100;
    color: #2B388F;
    font-size: 2.2rem;
    text-align: center;
  }
  .adicionalInfo li h3 span {
    font-family: "MyriadPro Bold", sans-serif;
    width: 100%;
    display: block;
  }
  .adicionalInfo li img {
    width: 100%;
  }
  .adicionalInfo li p {
    width: 95%;
    margin: 10px auto 0;
    color: #2B388F;
    font-size: 1.4rem;
  }
  .avisoGif {
    border: 2px solid #FFFFFF;
    color: #2B388F;
    padding: 10px;
    margin: 10px 0 0;
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
  }
  .avisoGif::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 100%;
    left: -20px;
    background-image: url("../images/gift.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .avisoGif p:last-child {
    font-family: "MyriadPro Bold", sans-serif;
  }
  .machine {
    display: none;
  }
  footer p {
    text-align: center;
    width: 100%;
  }
  footer aside {
    margin: 10px auto 0;
  }
}

@media all and (min-width: 360px) {
  .principalSlider {
    height: 130vh;
  }
  .principalSlider::before {
    background-position: 41% center;
  }
  .captionSlider {
    margin-top: 40vh;
  }
  header > div a {
    width: 80%;
    margin-left: 30%;
  }
}

@media all and (min-width: 470px) {
  header > div a {
    width: 40%;
    margin-left: 60%;
  }
  .principalSlider {
    height: 160vh;
  }
  .captionSlider {
    margin-top: 20vh;
  }
}

/*ipad*/
@media all and (min-width: 768px) {
  .principalSlider {
    height: 100vh;
  }
  header {
    padding-top: 0;
  }
  header > div {
    right: 0;
  }
  header > div a {
    width: 40vw;
    margin-top: 2vw;
    margin-left: 0;
  }
  .dscto {
    position: relative;
    width: 25vw;
    padding: 7vw 1vw 2vw;
  }
  .dscto p {
    width: 100%;
    margin: 0 10px;
    font-size: 2rem;
  }
  .dscto p:first-child {
    font-size: 8rem;
  }
  .dscto p:nth-child(2) {
    margin: -10px 10px 0;
    font-size: 4rem;
  }
  .wrappPromo {
    margin-top: -54vh;
  }
  .promociones li {
    width: 47%;
    border-bottom: 0;
  }
  .adicionalInfo li {
    width: 45%;
  }
  .adicionalInfo li:last-child {
    width: 100%;
  }
  .avisoGif {
    max-width: 50vw;
    margin: 2vw auto;
  }
}

/*ipad 2*/
@media all and (min-width: 1024px) {
  .dscto {
    width: 22vw;
  }
  .dscto p {
    font-size: 3rem;
  }
  .dscto p:first-child {
    font-size: 9rem;
  }
  .wrappPromo {
    margin-top: -20vh;
  }
  .promociones li {
    width: 47%;
    border-bottom: 0;
  }
  .body {
    width: 25%;
  }
}

@media all and (min-width: 1025px) {
  header > div a {
    width: 25vw;
  }
  .dscto {
    width: 13vw;
    padding: 5vw 1vw 2vw;
  }
  .dscto p {
    font-size: 2rem;
  }
  .dscto p:first-child {
    font-size: 7rem;
  }
  .dscto p:nth-child(2) {
    font-size: 3rem;
  }
  .principalSlider {
    height: 100vh;
  }
  .captionSlider {
    text-align: right;
    font-weight: 700;
  }
  .buttonBox {
    text-align: center;
    padding: 0 12px;
  }
  .wrappPromo {
    margin-top: 0;
  }
  .promociones {
    margin-top: 2vw;
  }
  .promociones li {
    width: 30%;
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    height: 7vw;
    margin: -5px 0 0;
  }
  .promociones li:last-child {
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
  }
  .promociones li p {
    letter-spacing: 1px;
    font-weight: 100;
    font-family: "MyriadPro Regular", sans-serif;
    font-size: 1.4rem;
    width: 100%;
  }
  .adicionalInfo li {
    width: 25%;
    margin: 0;
    position: relative;
  }
  .adicionalInfo li:last-child {
    width: 40%;
  }
  .adicionalInfo li h3 {
    text-align: left;
    position: relative;
  }
  .adicionalInfo li h3::before {
    content: '>';
    position: absolute;
    left: -1.5vw;
    top: .3vw;
  }
  .wrappadicionalInfo {
    position: relative;
    margin-bottom: 5vw;
  }
  .avisoGif {
    max-width: 28vw;
    margin: 2vw auto;
    position: absolute;
    padding: 1.2vw 0;
    right: 0;
    bottom: -3vw;
    font-size: 2rem;
  }
  .machine {
    position: absolute;
    left: -6vw;
    top: 0;
    bottom: 0;
    display: block;
    width: 70% !important;
    margin: auto;
  }
  footer p {
    text-align: center;
    width: auto;
  }
  footer aside {
    margin: 0;
  }
}

@media all and (min-width: 1400px) {
  .principalSlider {
    background-position: 65% center;
  }
}

@media all and (min-width: 1500px) {
  html {
    font-size: 75%;
  }
}
