@import _variables
@import _alignments
@import _fonts

@import _header

body
  font-family: $fontBody

.backgroundColor_blue
  background-color: $blue2Color
.backgroundColor_blue2
  background-color: $blueColor

.backgroundColor_blueSky
  background-color: $blueSkyColor

.blueColor
  color: $blueColor

.blueColor2
  color: $blue2Color

.skyColor
  color: $blueSkyColor

.fontTitle
  font-family: $fontTitle

.fontBodyBold
  font-family: $fontBodyBold

.textUppercase
  text-transform: uppercase

img
  display: block

