body {
  background: url(../images/background.svg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overflow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
  opacity: 0;
}

.mensaje_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}

.mensaje_modal section {
  background: #fff;
  padding: 20px 40px;
}

.mensaje_modal section h2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0;
}

.fadeInOverflow {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  z-index: 99;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInOverflowMensaje {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  z-index: 99;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.fadeOutOverflow {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  z-index: -1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeOutOverflowMensaje {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  z-index: -1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.content .wrapper {
  margin: 5vh 0;
  background: #FFF;
}

.content form {
  position: relative;
  top: -30px;
  background: #FFF;
  width: 80%;
  padding: 30px 20px;
}

.content form .logo {
  position: absolute;
  top: -50px;
  right: -20px;
}

.content form h2 {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 2.4rem;
  margin: 10px 0 30px;
}

.content form label {
  width: 47%;
  color: #4d4d4d;
  padding: 10px 0;
  font-size: 1.4rem;
}

.content form input[type="text"],
.content form input[type="date"],
.content form select {
  width: 100%;
  background: #eaeaea;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
}

.content form input[type="date"],
.content form select {
  background: url(../images/triangulo.svg) no-repeat 98% center #eaeaea;
}

.content form input[type="submit"] {
  font-size: 1.8rem;
  padding: 10px 0;
  margin: 20px 0 0;
  font-family: 'Montserrat', sans-serif;
}

.content form .aceptar {
  font-size: 1.4rem;
  color: #4d4d4d;
}

.content form .aceptar strong {
  color: #000000;
}

.content form .check {
  background: #eaeaea;
  width: 26px;
  height: 26px;
  margin: 25px 15px 25px 0;
  cursor: pointer;
}

.content form .requerido {
  border: 1px solid #ba1313;
}

.content form .check_on {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  background-color: #eaeaea;
}

@media all and (max-width: 913px) {
  .wrapper {
    width: 80% !important;
  }
  .wrapper form {
    width: 100%;
  }
  .wrapper form .logo {
    position: relative;
    top: 0;
    right: 0;
    margin: auto;
  }
  .wrapper form label {
    width: 100% !important;
  }
  .wrapper form input[type="submit"] {
    width: 100%;
  }
  .wrapper form .aceptar {
    font-size: 1.2rem;
  }
  .wrapper form .check {
    width: 26px;
    height: 26px;
    margin: 25px 15px 25px 0;
  }
}

@media all and (max-width: 610px) {
  .wrapper form .check {
    width: 40px;
    height: 40px;
    margin: 10px auto 20px;
  }
}
